<div class="con-box no-pd">
  <div class="tab-area1 type02" data-mode-tab="btn">
    <button aria-expanded="false" type="button">다른메뉴보기</button>
    <ul>
      <li>
        <a class="active" href="#uiTabCon1" title="선택됨">반도체 소재</a>
      </li>
      <li><a href="#uiTabCon2">디스플레이 소재</a></li>
      <li><a href="#uiTabCon3">반도체 분석</a></li>
    </ul>
  </div>
  <div data-mode-tab="con">
    <div class="tabcont" id="uiTabCon1" style="display: block">
      <div class="txt-center">
        <div class="img-box">
          <img
            src="/_res/unist/semi/img/content/field1.jpg"
            alt="반도체 소재 상세 안내"
          />
        </div>
      </div>
    </div>
    <div class="tabcont" id="uiTabCon2">
      <div class="txt-center">
        <div class="img-box">
          <img
            src="/_res/unist/semi/img/content/field2.jpg"
            alt="디스플레이 소재 상세 안내"
          />
        </div>
      </div>
    </div>
    <div class="tabcont" id="uiTabCon3">
      <div class="txt-center">
        <div class="img-box">
          <img
            src="/_res/unist/semi/img/content/field3.jpg"
            alt="반도체 분석 상세 안내"
          />
        </div>
      </div>
    </div>
  </div>
</div>
